<div>
    <h5>Dynamic Form </h5>
    <form [formGroup]="dynamicFormGroup" (ngSubmit)="onSubmit()">
        <div formArrayName="address">
        <div class="form-row" *ngFor="let fields of AddressInfo.controls; let i = index" [formGroupName]="i">
            <div class="form-group col-md-3" >
                <label for="password"><b>Street Address</b></label>
                <input type="text" class="form-control" placeholder="Street Address" name="SA" formControlName="streetAddress" />
              
              </div>
              <div class="form-group col-md-3" >
                <label for="password"><b>City</b></label>
                <input type="text" class="form-control" placeholder="City" name="city" formControlName="city" />
              </div>
              <div class="form-group col-md-3" >
                <label for="password"><b>State</b></label>
                <input type="text" class="form-control" placeholder="State" name="state" formControlName="state" />
              </div>
              <hr/>
        </div>
        </div>
        <hr/>
     <button type="submit"  class="btn btn-primary">Submit</button>
     <button type="button" class="btn btn-primary" (click)="addNewAddress()" >Add New Address</button>
     <button type="button" (click)="removeAddress(index)">Remove</button>
    </form>
  
     
</div>    
{{output | json}}